.Content-Nose {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    border: 1px solid rgba(7, 7, 7, 0.12);
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.Content-Nose .Derecho,
.Content-Nose .Izquierdo {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.Content-Nose .Izquierdo {
    flex: 60%; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.Content-Nose .Derecho {
    flex: 40%; 
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.ContectImg {
    width: 100%;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.Izquierdo .ContGrande {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.TextGran {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    padding: 10px;
    width: 700px;
    text-align: center;
}

.ListText {
    color: #333;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Derecho .ContListas {
    display: flex;
    flex-direction: column;
    justify-content: end;
    justify-items: end;
    gap: 20px;
    width: 100%;
}

.cardHome {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    border: 1px solid rgba(7, 7, 7, 0.12);
    width: 100%; 
    max-width: 450px; 
    margin: 0 auto; 
}


.Lista {
    display: flex;
    align-items: center;
    gap: 20px;
}

.iconD {
    font-size: 120px;
    color: #009929; 
    transition: color 0.3s ease; 
}

.iconD:hover {
    color: #005d00; /* Color más oscuro en hover */
}



/* Responsividad */
@media (max-width: 768px) {
    .Content-Nose {
        flex-direction: column;
        align-items: center;
    }

    .Content-Nose .Izquierdo,
    .Content-Nose .Derecho {
        width: 100%;
        padding: 15px;
    }

    .ContListas {
        flex-direction: column;
        gap: 15px;
    }
}