.card3 {
    width: 90%;
    max-width: 300px;
    height: 210px;
    background-color: #f4f4f4;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    position: relative;
    overflow: hidden;
    perspective: 1000px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.8s;
    margin-top: 20px;
}

.icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, #009929 0%, #ffff00 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
}

.card3 .inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card3:hover .inner {
    transform: rotateY(180deg); 
}

.card3 .front,
.card3 .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.card3 .front {
    z-index: 2; 
}

.card3 .back {
    transform: rotateY(180deg); 
    z-index: 1; 
}

.card3 .title3 {
    margin: 10px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    height: 30px;
}

.card3 .text {
    margin: 0;
    color: black;
    font-weight: 400;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.card3:hover .text {
    opacity: 1; 
}

/* Responsive styles */
@media (max-width: 768px) {
    .card3 {
        max-width: 100%;
        height: auto; /* Allow height to adjust based on content */
        margin: 10px 0; /* Reduce margin on smaller screens */
    }

    .icon {
        height: 60px; /* Reduce icon size */
        max-width: 60px;
    }

    .card3 .title3 {
        font-size: 14px; /* Adjust font size */
    }

    .card3 .text {
        font-size: 12px; /* Adjust font size */
    }
}

@media (max-width: 480px) {
    .card3 .icon {
        height: 50px; /* Further reduce icon size */
        max-width: 50px;
    }

    .card3 .title3 {
        font-size: 10px; /* Further adjust font size */
    }

    .card3 .text {
        font-size: 10px; /* Further adjust font size */
    }
}
